body{
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background-color: #f7ecde;
}
h1{
    font-size: 50px;
    font-family: "Pacifico", cursive;
    color: #352e28;
}
h1::before{
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 20px;
    background-color: #fd7e14;
    z-index: -1;
}

.up span:hover h1::before{
    height: 45px !important;
    transition: 1s all !important;

}
.center_content{
    border-bottom:2px dotted black ;
    border-top: 2px dotted black;
}
h2{
    font-family: "Righteous", cursive;
    font-size: 25px;
    
}
.color{
    /* color: ; */
}
.gradient-text{
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

input:focus{
    border-color: rgb(253, 126, 23) !important;
    box-shadow: 0 0 0 0.2rem rgb(253, 126, 23,.25) !important;
}
h1::selection , h2::selection, label::selection{ 
    background: rgb(247, 144, 59); 
    /* color: yellow;  */
}
.btn{
    background-color: #d1512d;
}
.btn:hover{
    background-color: #e26846;
}
/* .show{
    display: block !important;
} */

.d_name{
    margin-top: -10px !important;
}
.disabled{
    border: 1px solid #d1512d !important;
}